<link rel="stylesheet" ng-href="{{assetsUrl}}/icons.css" />
<style>
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .navbar-brand {
        color: #808080;
        font-weight: 600;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 6px;
        margin-top: 10px;
    }

    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
    }

        .navbar-nav > li > a {
            color: #666;
            font-size: 16px;
            -moz-transition: 0.3s ease-in all;
            -o-transition: 0.3s ease-in all;
            -webkit-transition: 0.3s ease-in all;
            transition: 0.3s ease-in all;
            -ms-opacity: 0.7;
            opacity: 0.7;
            padding: 10px 15px;
            border-radius: 4px;
        }

            .navbar-nav > li > a:hover {
                -ms-opacity: 1;
                opacity: 1;
            }

    .bs-docs-featured-sites img {
        border: 1px solid #ccc;
    }

    .caption {
        color: #666;
    }

    .features {
        background-color: #f2f2f2;
        margin: 5px;
        padding: 20px;
    }

    .btn-gray {
        color: #666;
        background-color: transparent;
        border-color: #999;
        -moz-transition: 0.25s linear all;
        -o-transition: 0.25s linear all;
        -webkit-transition: 0.25s linear all;
        transition: 0.25s linear all;
    }

        .btn-gray:hover {
            color: #fff;
            background-color: #999;
            border-color: #999;
        }
</style>
<header class="navbar navbar-fixed-top" style="margin-bottom: 0; margin-top: 20px;">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="https://github.com/ideajoint/shell" target="_blank">Getting started</a>
            </li>
            <li>
                <a href="http://ideajoint.github.io/shell" target="_blank">Documentation</a>
            </li>
            <li>
                <a href="http://shellapp.azurewebsites.net" target="_blank">Examples</a>
            </li>
        </ul>
    </div>
</header>

<div style="padding: 40px 0 40px 0;">
    <div class="container">
        <div class="jumbotron text-center" style="background-color: transparent; color: #999; margin-bottom: 0; padding-bottom: 0;">
            <img ng-src="{{assetsUrl}}/logo.svg" style="width: 80px; height: 80px; border: 3px solid #999; vertical-align: middle;" />
            <h1 style="display: inline-block; line-height: 80px; padding: 0 10px; top: 15px; position: relative;">shell</h1>
            <br />
            <br />
            <p>An elegant and powerful framework to build rich web applications.</p>
            <br />
            <p>
                <a class="btn btn-lg btn-gray" href="https://github.com/ideajoint/shell/zipball/master" role="button">Download</a>
                <a class="btn btn-lg btn-gray" target="_blank" href="https://www.nuget.org/packages/Ideajoint.Shell/" role="button">NuGet</a>
            </p>
        </div>
    </div>
</div>

<hr style="width: 100px; margin: 40px auto; border: 0; border-top: 1px solid #eee;" />

<div class="container">
    <div class="row row-eq-height">
        <div class="col-sm-4 features">
            <div class="features2">
                <span class="hicon hicon-framework caption" style="font-size: 50px;"></span><span class="caption" style="font-size: 40px; top: -10px; position: relative; padding-left: 20px;">Framework</span>
                <p>Shell ships with a framework which is built with AngularJS, which manages a rich set of UI components and let you build only what you need.</p>
            </div>
        </div>
        <div class="col-sm-4 features">
            <div class="features2">
                <span class="hicon hicon-cards caption" style="font-size: 50px;"></span><span class="caption" style="font-size: 40px; top: -10px; position: relative; padding-left: 20px;">Cards</span>
                <p>Cards are the central part of Shell, using which rich experiences can be built in an extensible manner without worrying about the underlying complexities.</p>
            </div>
        </div>
        <div class="col-sm-4 features">
            <div class="features2">
                <span class="hicon hicon-api caption" style="font-size: 50px;"></span><span class="caption" style="font-size: 40px; top: -10px; position: relative; padding-left: 20px;">API</span>
                <p>Shell exposes rich set of APIs to help handle usual operations like calling APIs, caching, local storage persistence and much more.</p>
            </div>
        </div>
    </div>
</div>

<hr style="width: 100px; margin: 40px auto; border: 0; border-top: 1px solid #eee;" />

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="lead">Shell is open source. It's hosted, developed, and maintained on GitHub.</p>
            <a href="https://github.com/ideajoint/shell" target="_blank" class="btn btn-gray btn-lg">View the GitHub project</a>
        </div>
    </div>
</div>

<hr style="width: 100px; margin: 40px auto; border: 0; border-top: 1px solid #eee;" />

<div style="width: 100%; background-color: #f2f2f2; padding: 0 0 30px 0;">
    <div class="container">
        <h2 class="bs-docs-featurette-title text-center caption" style="font-size: 40px;">Built with Shell.</h2>
        <p class="lead">Amazing applications are being built with Shell. Get started on your own with our examples and documentation.</p>

        <hr class="half-rule">

        <div class="row bs-docs-featured-sites">

            <div class="col-xs-6 col-sm-4">
                <a href="http://shellapp.azurewebsites.net/" target="_blank" title="shell">
                    <img ng-src="{{assetsUrl}}/shell.png" alt="shell" class="img-responsive">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4">
                <a href="http://eventsarray.com/" target="_blank" title="EventsArray">
                    <img ng-src="{{assetsUrl}}/events_array.png" alt="EventsArray" class="img-responsive">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4">
                <a href="http://remail.azurewebsites.net/" target="_blank" title="Remail">
                    <img ng-src="{{assetsUrl}}/remail.png" alt="Remail" class="img-responsive">
                </a>
            </div>

        </div>
    </div>
</div>


<hr style="width: 100px; margin: 40px auto; border: 0; border-top: 1px solid #eee;" />

<footer class="bs-docs-footer" role="contentinfo">
    <div class="container text-center">
        <p>Designed and built with <span class="hicon hicon-heart" style="top: 1px; position: relative;"></span></p>
        <p>Code licensed under <a href="https://github.com/ideajoint/shell/blob/master/LICENSE.txt" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    </div>
</footer>

<hr style="width: 100px; margin: 40px auto; border: 0; border-top: 1px solid #eee;" />