﻿<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="width: 80%;"
     viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve">
<g>
<polygon points="72.527,0.668 72.527,8.367 87.635,8.367 87.635,23.474 95.333,23.474 95.333,0.668 	" />
<polygon points="0.667,23.474 8.365,23.474 8.365,8.367 23.472,8.367 23.472,0.668 0.667,0.668 	" />
<polygon points="8.365,72.53 0.667,72.53 0.667,95.334 23.472,95.334 23.472,87.636 8.365,87.636 	" />
<polygon points="87.635,87.636 72.527,87.636 72.527,95.334 95.333,95.334 95.333,72.53 87.635,72.53 	" />
</g>
</svg>