<link rel="stylesheet" ng-href="{{assetsUrl}}/card.css" />

<h1>Narrow</h1>

<h2 class="cd-subtitle">Sub Title</h2>

<h1>{{data}}</h1>

<button ng-click="didRaiseEvent1()">Event 1</button>
<br/>
<button ng-click="didRaiseEvent2()">Event 2</button>

<h2 ng-show="flag.event1Raised" >Event 1 -  Raised</h2>
<h2 ng-show="flag.event2Raised" >Event 2 -  Raised</h2>