﻿@-webkit-keyframes sh-popappear {
  0% {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes sh-popappear {
  0% {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes sh-popappear {
  0% {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.shell-popappear {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: sh-popappear;
  -moz-animation-name: sh-popappear;
  -o-animation-name: sh-popappear;
  animation-name: sh-popappear;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
/* Transitions */
.shell-appear-animation.ng-enter,
.shell-appear-animation.ng-leave {
  -moz-transition: 0.3s linear opacity;
  -o-transition: 0.3s linear opacity;
  -webkit-transition: 0.3s linear opacity;
  transition: 0.3s linear opacity;
  opacity: 0;
}
.shell-appear-animation.ng-enter {
  opacity: 0;
}
.shell-appear-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.shell-fade-animation.ng-enter,
.shell-fade-animation.ng-leave {
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
.shell-fade-animation.ng-enter {
  /*z-index: 100;*/
  opacity: 0;
}
.shell-fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.shell-fade-animation.ng-leave {
  /*z-index: 101;*/
  opacity: 1;
}
.shell-fade-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
/* -------------- loader9 -------------- */
.shell-loader9 {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #ffffff;
  left: 0;
  right: 0;
  margin: auto;
}
.shell-loader9:before {
  content: "";
  position: absolute;
  top: 0;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader9g 3s ease-in-out infinite;
  animation: loader9g 3s ease-in-out infinite;
}
.shell-loader9:after {
  content: "";
  position: absolute;
  top: 0;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader9d 3s ease-in-out infinite;
  animation: loader9d 3s ease-in-out infinite;
}
.shell-loader9 .shell-small {
  height: 8px;
  width: 8px;
}
.shell-loader9 .shell-small:before,
.shell-loader9 .shell-small:after {
  height: 8px;
  width: 8px;
}
@-webkit-keyframes loader9g {
  0% {
    left: -25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
  50% {
    left: 0px;
    background-color: #ffffff;
    opacity: 0.1;
  }
  100% {
    left: -25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
}
@keyframes loader9g {
  0% {
    left: -25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
  50% {
    left: 0px;
    background-color: #ffffff;
    opacity: 0.1;
  }
  100% {
    left: -25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
}
@-webkit-keyframes loader9d {
  0% {
    left: 25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
  50% {
    left: 0px;
    background-color: #ffffff;
    opacity: 0.1;
  }
  100% {
    left: 25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
}
@keyframes loader9d {
  0% {
    left: 25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
  50% {
    left: 0px;
    background-color: #ffffff;
    opacity: 0.1;
  }
  100% {
    left: 25px;
    background-color: #ffffff;
    opacity: 0.8;
  }
}
/* Disappear */
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  99% {
    opacity: .1;
  }
  100% {
    opacity: 0;
  }
}
/* Appear */
@-webkit-keyframes shell-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sh-popappear-quick {
  0% {
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/* Animation for cards */
@-webkit-keyframes shell-card-enter {
  0% {
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes shell-card-leave {
  0% {
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0;
  }
}
/*# sourceMappingURL=animations.css.map */