﻿body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  font-family: 'Segoe UI', 'Open Sans', 'Verdana';
  background-color: #004881;
}
body,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', 'Open Sans', 'Verdana';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.hcenter {
  margin-left: auto;
  margin-right: auto;
}
.shell-view {
  height: 100%;
}
/*.shell-popappear-notrace {
    -webkit-animation-duration: .3s;
    -webkit-animation-name: sh-popappear-quick;
    -webkit-animation-timing-function: ease-in;


    &.ng-leave {
        opacity: 0;
        display: none;
    }

    &.ng-leave-active {
        opacity: 0;
    }
}

.shell-appear {
    -webkit-animation-duration: .3s;
    -webkit-animation-name: shell-appear;
    -webkit-animation-timing-function: ease-in;
}*/
/*# sourceMappingURL=app.css.map */