﻿@import (reference) "mixins.less";
@import (reference) "colors.less";
@import (reference) "animations.less";

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


body {
    .default-font;
    background-color: @color-3;
}

body, input, textarea, select, button, h1, h2, h3, h4, h5, h6, li, span {
    .default-font;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    -webkit-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.shell-view {
    height: 100%;
}

/*.shell-popappear-notrace {
    -webkit-animation-duration: .3s;
    -webkit-animation-name: sh-popappear-quick;
    -webkit-animation-timing-function: ease-in;


    &.ng-leave {
        opacity: 0;
        display: none;
    }

    &.ng-leave-active {
        opacity: 0;
    }
}

.shell-appear {
    -webkit-animation-duration: .3s;
    -webkit-animation-name: shell-appear;
    -webkit-animation-timing-function: ease-in;
}*/

.shell-jump {
    width: 85px;
    color: magenta;
    position: absolute;
    height: 100%;
    z-index: 3;
    width: 300px;
    display: inline-block;
    font-family: 'Segoe UI', 'Open Sans', 'Verdana';
    background-color: #004881;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    -webkit-transition: transform .5s;
    transition: transform .5s;
    color: #fff;

    ul {
        list-style: none;

        li {
            width: 85px;
            background-color: yellow;
            float: left;
            height: 100px;
            z-index: 200;
            text-align: center;
            line-height: 100px;
        }
    }
}

md-dialog {
    width: 50%;

    &.md-default-theme {
        border-radius: 0;
        background-color: #f1f2f3;
        top: -50px;
    }

    .sticky-container {
        padding: 0;

        .md-subheader {
            // background-color: #004881;
            background-color: #f1f2f3;
            margin: 0;
            border-bottom: 1px solid lightgray;
            height: 65px;

            .md-subheader-inner {
                padding: 16px;
            }

            .shell-search-query {
                background-color: transparent;
                font-size: 24px;
                font-weight: 100;
                // color: white;
                color: black;
                line-height: normal;
            }
        }

        .shell-search-content {
            padding: 20px;
        }
    }
}