﻿@import (reference) "includes.less";

/* Configurations */

@shell-header-height: 100px;

@shell-logo-backcolor: #004881;

@shell-logo-wrapper-width: 100px;
@shell-logo-wrapper-height: 100px;
@shell-logo-wrapper-backcolor: transparent;

@shell-hub-backcolor: #004881;
@shell-hub-n-pane-shadowwidth: 5px;
@shell-hub-shadowcolor: rgba(0, 0, 0, 0.2);

@shell-content-backcolor: darken(#004881, 20%);

@shell-card-header-height: 100px;
@shell-card-header-backcolor: #003661;

@shell-card-backcolor1: #f1f2f3;
@shell-card-backcolor2: #f1f2f3;
@shell-card-bordercolor: #003056;
@shell-card-borderwidth: 2px;

@shell-card-header-button-backcolor: transparent;
@shell-card-header-button-hovercolor: lighten(@shell-card-header-backcolor, 20%);
@shell-card-header-button-active-backcolor: lighten(@shell-card-header-backcolor, 10%);

@shell-card-title-color: #fff;
@shell-card-content-color: #333;

@shell-header-backcolor-default: #004881;
@shell-header-backcolor-onerror: #BB1813;
@shell-header-borderwidth: 3px;
@shell-header-bordercolor: rgba(0, 0, 0, .35);

/* ----------------------------- */

._StackContentHorizontally() {
    white-space: nowrap; // Stacks content divs horizontally without wrapping them around
    font-size: 0; // Fix for spacing between child elements with display: inline-block
    .empty-font;
}

._AllowSibilingToStackHorizontally() {
    display: inline-block;
    .default-font;
}

.shell-layout {
    height: 100%;
    .mx-transform(translate3d(0, -@shell-header-height, 0));
    .mx-transition(0.3s linear transform);

    &.shell-reveal-header {
        .mx-transform(translate3d(0, 0, 0));
    }

    > .shell-header {
        width: 100%;
        height: @shell-header-height;
        background-color: @shell-header-backcolor-default;
        border-bottom: @shell-header-borderwidth solid @shell-header-bordercolor;

        &.shell-error {
            background-color: @shell-header-backcolor-onerror;
        }
    }

    > .shell-body {
        width: 100%;
        height: 100%;
        position: relative;

        .shell-logo {
            height: 48px;
            width: 48px;
            cursor: pointer;
            // background-color: @shell-logo-backcolor;
            position: absolute;
            z-index: 1000;
            margin: 20px;
        }

        .shell-logo-on-menu {
            height: 60px;
            width: 60px;
            cursor: pointer;
            background-color: transparent;
            position: relative;
            margin: 10px;
            box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.75);
        }

        .shell-hub {
            z-index: 3;
            width: 300px;
            /*height: 100%;*/
            ._AllowSibilingToStackHorizontally;
            background-color: #003056; // @shell-hub-backcolor;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            .mx-transform(translate3d(-100%, 0, 0));
            .mx-transition(transform 0.5s);
            color: #fff;

            &:not(:first-child) {
                border-right: 2px solid rgba(0, 0, 0, 0.1);
            }

            &.shell-buried {
                background-color: #003056; // darken(@shell-hub-backcolor, 10%);
                cursor: pointer;
            }

            &.shell-shadow {
                // box-shadow: @shell-hub-n-pane-shadowwidth 0 0 0 @shell-hub-shadowcolor;
            }

            &.shell-border {
                // box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.08);
            }

            &.shell-reveal {
                .mx-transform(translate3d(-40px, 0, 0));
            }

            &.shell-with-pane {
                box-shadow: none;
            }

            h1 {
                color: #fff;
                padding: 26px 20px;
                margin: 0;
                font-size: 24px;
                font-weight: 200;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-right: 25px;
            }

            .shell-close-menu {
                position: absolute;
                top: 0;
                right: 0;
                margin: 22px 10px;
            }

            .shell-vtitle-bar {
                position: absolute;
                width: 40px;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: #00223c;
            }

            .shell-vtitle {
                position: relative;
                text-align: right;
                top: 5px;
                font-size: 14px;
                text-transform: uppercase;
                .mx-transform(rotate(-90deg));
                .mx-transform-origin(right);
                left: -300px;

                &.left {
                    left: -280px;
                }

                &.right {
                    left: -20px;
                }
            }

            .item-divider {
                padding: 0 20px;
                line-height: 57px;
                background-color: darken(#003056, 5%);
                color: #ffffff;
                border: 0;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                @li-height: 60px;

                li {
                    cursor: pointer;
                    .mx-transition(~'background 0.3s, box-shadow 0.3s');
                    // box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
                    color: #fff;
                    // line-height: @li-height;

                    &:hover {
                        background-color: #00223c; // darken(@shell-hub-backcolor, 10%);
                        box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
                    }

                    div {
                        .default-font;
                        padding-left: 25px;
                        line-height: @li-height - 3;

                        span.icon {
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }

        > .shell-content-wrapper {
            z-index: 1;
            height: 100%;
            background-color: transparent;
            .mx-transition(transform 0.6s);
            ._StackContentHorizontally;
            // transform : set by _SetDimensionsBasedOnScreenWidth
            .shell-logo-wrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                height: @shell-logo-wrapper-width;
                width: @shell-logo-wrapper-height;
                background-color: @shell-logo-wrapper-backcolor;
                opacity: .1;
            }

            .shell-action {
                @shell-action-opactiy-default: 0.6;
                background-color: @shell-card-header-button-backcolor;
                border: 0;
                border-radius: 0;
                width: 40px;
                opacity: @shell-action-opactiy-default;
                //.mx-transition(opacity .3s ease-out);
                &:hover,
                &:focus {
                    //background-color: @shell-card-header-button-hovercolor;
                    border: 0;
                    box-shadow: none;
                    opacity: 1;
                }

                &:active,
                &.active {
                    background-color: @shell-card-header-button-active-backcolor;
                    border: 0;
                    box-shadow: none;
                }

                .mx-slow-show(0.1s, @shell-action-opactiy-default);

                .svg-wrapper {
                    height: 25px;

                    svg {
                        height: 100%;
                        width: 100%;

                        path, polygon, rect {
                            fill: #ffffff;
                        }
                    }
                }
            }

            .shell-side-menu {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 85px;
                box-shadow: 5px 0 0 0 rgba(108, 115, 122, .15);
                z-index: 1;

                ul {
                    list-style: none;
                    height: 100%;
                    background-color: #004881;

                    &.shell-logo-list {
                        position: absolute;
                        top: 0;
                    }

                    &.hub-list {
                        position: absolute;
                        transform: translateY(-30%);
                        top: 50%;
                    }

                    li {
                        float: left;
                        width: 85px;
                        height: 85px;
                        line-height: 85px;
                        text-align: center;
                        background-color: #004881;
                        color: #ffffff;
                        cursor: pointer;
                        display: inline-block;

                        .hub-icon {
                            display: block;
                            top: 17px;
                            position: relative;
                            fill: #ffffff;
                            height: 32px;
                            width: 32px;
                        }

                        .hub-title {
                            bottom: 12px;
                            position: relative;
                            font-size: 14px;
                        }

                        &.active {
                            background-color: #003056;

                            &:hover {
                                background-color: #003056;
                            }
                        }

                        &.hub-list {
                            &:hover {
                                background-color: #003661;
                            }
                        }

                    }
                }
            }

            .shell-content {
                height: 100%;
                //width: 100%;
                width: ~"calc(100% - 85px)";
                left: 85px;
                position: absolute;
                ._AllowSibilingToStackHorizontally;
                background-color: @shell-content-backcolor;

                .shell-card-array {
                    height: 100%;
                    ._StackContentHorizontally;
                    background-color: transparent;
                    position: absolute;

                    &.focused-mode {
                        & .shell-card {
                            border-right: @shell-card-borderwidth solid @shell-content-backcolor;
                            box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.25);

                            &.shell-out-of-focus {
                                .mx-transform(scale(0.85));
                                opacity: 0.7;
                                margin: 0;
                            }
                        }
                    }

                    .shell-card {
                        .default-font;
                        font-size: 14px;
                        width: 25%;
                        // width : set dynamically by js
                        height: 100%;
                        ._AllowSibilingToStackHorizontally;
                        white-space: normal;
                        vertical-align: top;
                        background-color: @shell-card-backcolor1;
                        opacity: 1;
                        border-right: @shell-card-borderwidth solid @shell-card-bordercolor;
                        color: @shell-card-content-color;
                        .mx-transition(~'width .2s ease-out, transform 0.3s ease');
                        overflow: hidden;
                        position: relative;

                        &:first-child {
                            box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.25);
                        }

                        &:last-child {
                            box-shadow: 5px 0 5px rgba(0, 0, 0, .15);
                        }

                        &:nth-child(2n) {
                            background-color: @shell-card-backcolor2;
                        }

                        > .shell-card-header {
                            width: 100%;
                            height: @shell-card-header-height;
                            background-color: @shell-card-header-backcolor;
                            padding: 10px;
                            overflow: hidden;

                            .row {
                                margin: 0;
                                padding: 0;

                                .col-md-12 {
                                    padding: 0;
                                }
                            }

                            .shell-card-title {
                                padding: 0 5px;
                                color: @shell-card-title-color;
                                cursor: pointer;
                                .mx-slow-show(0.1s, 1);

                                &.when-narrow {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    -ms-text-overflow: ellipsis;
                                    -o-text-overflow: ellipsis;
                                    text-overflow: ellipsis;
                                    display: inline-block;
                                    width: 280px;
                                    position: relative;
                                    top: 6px;
                                }
                            }
                        }

                        > .shell-card-content {
                            overflow: hidden;
                            white-space: normal;
                            margin: 20px; // TODO: Make it configurable
                            position: absolute;
                            bottom: 0;
                            top: @shell-card-header-height;
                            left: 0;
                            right: 0;

                            &.shell-has-no-header {
                                top: 0;
                            }

                            &.shell-clean-canvas {
                                padding: 0;
                                margin: 0;
                                background-color: #fff;
                            }
                        }
                    }
                    // .shell-card
                }
                // .shell-card-array
            }
            // .shell-content
        }
        // .shell-content-wrapper
    }
    // .shell-body
}

// shell-layout

.ftscroller_container {
    height: 100%;
}

.ftscroller_x {
    height: 100%;
}

.ftscroller_scrollbar {
    height: 3px;
    width: 3px;
    border: 0;

    &.active {
        opacity: 0.75;
    }
}

// ionic override 
.scroll {
    height: 100%;
}