﻿/* Configurations */
/* ----------------------------- */
.shell-layout {
  height: 100%;
  -moz-transform: translate3d(0, -100px, 0);
  -ms-transform: translate3d(0, -100px, 0);
  -o-transform: translate3d(0, -100px, 0);
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  -moz-transition: 0.3s linear transform;
  -o-transition: 0.3s linear transform;
  -webkit-transition: 0.3s linear transform;
  transition: 0.3s linear transform;
}
.shell-layout.shell-reveal-header {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.shell-layout > .shell-header {
  width: 100%;
  height: 100px;
  background-color: #004881;
  border-bottom: 3px solid rgba(0, 0, 0, 0.35);
}
.shell-layout > .shell-header.shell-error {
  background-color: #bb1813;
}
.shell-layout > .shell-body {
  width: 100%;
  height: 100%;
  position: relative;
}
.shell-layout > .shell-body .shell-logo {
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-color: #004881;
  position: absolute;
  z-index: 1000;
  margin: 10px;
}
.shell-layout > .shell-body .shell-logo-on-menu {
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  margin: 10px;
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.75);
}
.shell-layout > .shell-body .shell-hub {
  z-index: 3;
  width: 300px;
  /*height: 100%;*/
  display: inline-block;
  font-family: 'Segoe UI', 'Open Sans', 'Verdana';
  background-color: #004881;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  color: #fff;
}
.shell-layout > .shell-body .shell-hub.shell-buried {
  background-color: #002c4e;
  cursor: pointer;
}
.shell-layout > .shell-body .shell-hub.shell-shadow {
  box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.2);
}
.shell-layout > .shell-body .shell-hub.shell-border {
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.08);
}
.shell-layout > .shell-body .shell-hub.shell-reveal {
  -moz-transform: translate3d(-40px, 0, 0);
  -ms-transform: translate3d(-40px, 0, 0);
  -o-transform: translate3d(-40px, 0, 0);
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}
.shell-layout > .shell-body .shell-hub.shell-with-pane {
  box-shadow: none;
}
.shell-layout > .shell-body .shell-hub h1 {
  color: #fff;
  padding: 20px;
  margin: 0;
  font-size: 36px;
  font-weight: 200;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 25px;
}
.shell-layout > .shell-body .shell-hub .shell-close-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px 10px;
}
.shell-layout > .shell-body .shell-hub .shell-vtitle {
  position: absolute;
  top: 5px;
  right: 18px;
  font-size: 14px;
  text-transform: uppercase;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
.shell-layout > .shell-body .shell-hub ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.shell-layout > .shell-body .shell-hub ul li {
  cursor: pointer;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  -o-transition: background 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
  color: #fff;
  line-height: 60px;
}
.shell-layout > .shell-body .shell-hub ul li::before {
  position: absolute;
  left: 10px;
  color: #fff;
  line-height: 60px;
}
.shell-layout > .shell-body .shell-hub ul li:first-child {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), inset 0 1px rgba(0, 0, 0, 0.1);
}
.shell-layout > .shell-body .shell-hub ul li:hover {
  background-color: #002c4e;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
}
.shell-layout > .shell-body .shell-hub ul li div {
  font-family: 'Segoe UI', 'Open Sans', 'Verdana';
  padding-left: 35px;
  line-height: 57px;
}
.shell-layout > .shell-body .shell-hub ul li div span.icon {
  color: rgba(0, 0, 0, 0.3);
}
.shell-layout > .shell-body > .shell-content-wrapper {
  z-index: 1;
  height: 100%;
  background-color: transparent;
  -moz-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  transition: transform 0.6s;
  white-space: nowrap;
  font-size: 0;
  font-family: empty;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-logo-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 100px;
  background-color: transparent;
  opacity: .1;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  width: 40px;
  opacity: 0.6;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action:hover,
.shell-layout > .shell-body > .shell-content-wrapper .shell-action:focus {
  border: 0;
  box-shadow: none;
  opacity: 1;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action:active,
.shell-layout > .shell-body > .shell-content-wrapper .shell-action.active {
  background-color: #005294;
  border: 0;
  box-shadow: none;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action.ng-enter {
  -moz-transition: 1s linear opacity;
  -o-transition: 1s linear opacity;
  -webkit-transition: 1s linear opacity;
  transition: 1s linear opacity;
  opacity: 0;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action.ng-enter.ng-enter-active {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0.6;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action .svg-wrapper {
  height: 25px;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action .svg-wrapper svg {
  height: 100%;
  width: 100%;
}
.shell-layout > .shell-body > .shell-content-wrapper .shell-action .svg-wrapper svg path,
.shell-layout > .shell-body > .shell-content-wrapper .shell-action .svg-wrapper svg polygon,
.shell-layout > .shell-body > .shell-content-wrapper .shell-action .svg-wrapper svg rect {
  fill: #ffffff;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content {
  height: 100%;
  width: 100%;
  display: inline-block;
  font-family: 'Segoe UI', 'Open Sans', 'Verdana';
  background-color: #000f1b;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  font-family: empty;
  background-color: transparent;
  position: absolute;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array.focused-mode .shell-card {
  border-right: 2px solid #000f1b;
  box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.25);
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array.focused-mode .shell-card.shell-out-of-focus {
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.7;
  margin: 0;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card {
  font-size: 14px;
  width: 25%;
  height: 100%;
  display: inline-block;
  font-family: 'Segoe UI', 'Open Sans', 'Verdana';
  white-space: normal;
  vertical-align: top;
  background-color: #f1f2f3;
  opacity: 1;
  border-right: 2px solid #003056;
  color: #333333;
  -moz-transition: width .2s ease-out, transform 0.3s ease;
  -o-transition: width .2s ease-out, transform 0.3s ease;
  -webkit-transition: width .2s ease-out, transform 0.3s ease;
  transition: width .2s ease-out, transform 0.3s ease;
  overflow: hidden;
  position: relative;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card:first-child {
  box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.25);
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card:last-child {
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15);
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card:nth-child(2n) {
  background-color: #f1f2f3;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-header {
  width: 100%;
  height: 100px;
  background-color: #003661;
  padding: 10px;
  overflow: hidden;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-header .row {
  margin: 0;
  padding: 0;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-header .row .col-md-12 {
  padding: 0;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-header .shell-card-title {
  padding: 0 5px;
  color: #ffffff;
  cursor: pointer;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-header .shell-card-title.ng-enter {
  -moz-transition: 1s linear opacity;
  -o-transition: 1s linear opacity;
  -webkit-transition: 1s linear opacity;
  transition: 1s linear opacity;
  opacity: 0;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-header .shell-card-title.ng-enter.ng-enter-active {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-header .shell-card-title.when-narrow {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
  width: 280px;
  position: relative;
  top: 6px;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-content {
  overflow: hidden;
  white-space: normal;
  /*padding: 20px;*/
  position: absolute;
  bottom: 0;
  top: 100px;
  left: 0;
  right: 0;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-content.shell-has-no-header {
  top: 0;
}
.shell-layout > .shell-body > .shell-content-wrapper > .shell-content .shell-card-array .shell-card > .shell-card-content.shell-clean-canvas {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.ftscroller_container {
  height: 100%;
}
.ftscroller_x {
  height: 100%;
}
.ftscroller_scrollbar {
  height: 3px;
  width: 3px;
  border: 0;
}
.ftscroller_scrollbar.active {
  opacity: 0.75;
}
.scroll {
  height: 100%;
}
/*# sourceMappingURL=cards.css.map */