﻿// Fonts

.empty-font() {
    font-family: empty;
}

.default-font() {
    font-family: 'Segoe UI', 'Open Sans', 'Verdana';
}

// Functions

// Source - https://github.com/seven-phases-max/less.curious/blob/master/articles/generic-for.md

// ............................................................
// .for

.for(@i, @n) {
    .-each(@i)
}

.for(@n) when (isnumber(@n)) {
    .for(1, @n)
}

.for(@i, @n) when not (@i = @n) {
    .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// ............................................................
// .for-each

.for(@array) when (default()) {
    .for-impl_(length(@array))
}

.for-impl_(@i) when (@i > 1) {
    .for-impl_((@i - 1))
}

.for-impl_(@i) when (@i > 0) {
    .-each(extract(@array, @i))
}

.mx-transform(@value) {
    -moz-transform: @value;
    -ms-transform: @value;
    -o-transform: @value;
    -webkit-transform: @value;
    transform: @value;
}

.mx-transform-origin(@value) {
    -webkit-transform-origin: @value;
    -moz-transform-origin: @value;
    -ms-transform-origin: @value;
    -o-transform-origin: @value;
    transform-origin: @value;
}

.mx-transition(@value) {
    -moz-transition: @value;
    -o-transition: @value;
    -webkit-transition: @value;
    transition: @value;
}

.mx-transition-delay(@value) {
    -moz-transition-delay: @value;
    -o-transition-delay: @value;
    -webkit-transition-delay: @value;
    transition-delay: @value;
}

.mx-animation-duration(@value) {
    -webkit-animation-duration: @value;
    -moz-animation-duration: @value;
    -o-animation-duration: @value;
    animation-duration: @value;
}

.mx-animation-name(@value) {
    -webkit-animation-name: @value;
    -moz-animation-name: @value;
    -o-animation-name: @value;
    animation-name: @value;
}

.mx-animation-timing-function(@value) {
    -webkit-animation-timing-function: @value;
    -moz-animation-timing-function: @value;
    -o-animation-timing-function: @value;
    animation-timing-function: @value;
}

.mx-animation(@value) {
    -moz-animation: @value;
    -o-animation: @value;
    -webkit-animation: @value;
    animation: @value;
}

.mx-slow-show(@delay, @opacity) {
    &.ng-enter {
        .mx-transition(1s linear opacity);
        opacity: 0;

        &.ng-enter-active {
            .mx-transition-delay(@delay);
            opacity: @opacity;
        }
    }
}
