﻿.item.shell-transparent {
    background-color: transparent;
}

.item.shell-no-border {
    border: 0;
}

.item.shell-neat-border {
    border: 0;
}

    .item.shell-neat-border:before {
        content: '';
        position: absolute;
        top: 0;
        height: 1px;
        /*left: 48px;*/ /* When using icon on left */
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .item.shell-neat-border:after {
        content: '';
        position: absolute;
        height: 1px;
        left: 48px;
        left: 0;
        right: 0;
        bottom: 1px;
        background-color: rgba(0, 0, 0, 0.05);
    }

.list {
    padding-top: 0;
}
