﻿<ion-content direction="x" scrollbar-x="true" has-bouncing="true" has-child-scroll="true" delegate-handle="shellCardArrayScroll">
    <div class="shell-card-array" ng-class="{'focused-mode': focusedMode}" ng-transclude>
    </div>
</ion-content>
