﻿<aside class="shell-hub shell-shadow" ng-class="{ 'shell-buried' : state.hubLevel > 1}"
       ng-click="didMenuToggleClick(1, true)">
    <ion-content>
        <ul ng-if="!hubList.settings.stickyHeaders" class="ion-list" ng-repeat="section in hubList.sections track by $index">
            <li class="item item-divider"><span ng-bind="section.sectionTitle"></span></li>
            <li class="ion-item" ng-repeat="item in section.items track by $index">
                <div>{{item.itemTitle}}</div>
            </li>
        </ul>

        <ul ng-if="hubList.settings.stickyHeaders" class="ion-list" ng-repeat="section in hubList.sections track by $index">
            <li class="item item-divider" ion-affix data-affix-within-parent-with-class="ion-list"><span ng-bind="section.sectionTitle"></span></li>
            <li class="ion-item" ng-repeat="item in section.items track by $index">
                <div>{{item.itemTitle}}</div>
            </li>
        </ul>

    </ion-content>
</aside>