﻿<div class="shell-layout" ng-class="{ 'shell-reveal-header' : flag.headerOpen}">
    <div class="shell-header" ng-class="{ 'shell-error': flag.headerError}"></div>
    <div class="shell-body">
        <div class="shell-content-wrapper"
             ng-style="{'transform': $root.contentTransform, '-webkit-transform': $root.contentTransform, '-ms-transform': $root.contentTransform, '-moz-transform': $root.contentTransform, '-o-transform': $root.contentTransform }"
             style="font-size: 16px;">
            <shell-side-menu></shell-side-menu>
            <div class="shell-logo-wrapper">
                <img src="/App/framework/images/logo.svg"/>
            </div>
            <div class="shell-side-menu">
                <ul class="shell-logo-list">
                    <li>
                        <div class="shell-logo" ng-click="didLogoClick()">
                            <img src="/App/framework/images/logo.svg"/>
                        </div>
                    </li>
                </ul>
                <ul class="hub-list">
                    <li ng-repeat="hubItem in $root.hubs track by $index"
                        ng-click="didHubItemClick($event, hubItem)"
                        ng-class="{ 'active': hubItem.title == $root.hubs.activeItem.title }" style="display: inline;">
                        <md-icon class="hub-icon" md-svg-src="{{hubItem.iconUrl}}"></md-icon>
                        <span class="hub-title" style="display: block;">{{hubItem.title}}</span>
                    </li>
                </ul>
            </div>
            <section class="shell-content" ng-transclude></section>
        </div>
    </div>
</div> 