<md-dialog aria-label="Search">
    <form>
        <md-dialog-content class="sticky-container">
            <md-subheader class="md-sticky-no-effect">
                <md-input-container md-no-float="">
                    <md-icon md-svg-src="/app/framework/images/icons/search.svg"></md-icon>
                    <input class="shell-search-query" ng-model="search.query" type="text" placeholder="Search">
                </md-input-container>
            </md-subheader>
            <div class="shell-search-content">
                <md-content>
                    <md-tabs md-selected="selectedIndex" md-border-bottom="">
                        <md-tab ng-repeat="tab in ['Data Centers', 'Clusters', 'Environments', 'Machine Functions', 'Machines', 'Groups', 'Teams', 'Features' ]"
                                label="{{tab}}">
                            <div class="demo-tab" style="padding: 5px; text-align: center;">
                                <ion-side-menus open>
                                    <!-- Left menu -->
                                    <ion-side-menu side="left">
                                        <ion-content>
                                            <ion-list>
                                                <ion-item ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                                    Hello, {{item}}!
                                                </ion-item>
                                            </ion-list>
                                        </ion-content>
                                    </ion-side-menu>

                                    <ion-side-menu-content>
                                        <!-- Main content, usually <ion-nav-view> -->
                                        <span>Hello</span>
                                    </ion-side-menu-content>
                                </ion-side-menus>
                            </div>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>