﻿<section class="shell-card" ng-style="{ width: cardWidth }" ng-class="{'shell-out-of-focus': !focused, 'shell-deleted' : deleted }">
    <div class="shell-card-header container-fluid" ng-show="showHeader">
        <div class="row" ng-if="showControls">
            <div class="col-md-12">
                <div class="pull-left">
                    <button class="btn btn-sm shell-action" ng-click="didFocusToggleClick()" ng-if="cardSize != 'strip'">
                        <div class="svg-wrapper" ng-include src="'/App/framework/images/card.resetfocus.svg.html'" ng-show="!focused"></div>
                        <div class="svg-wrapper" ng-include src="'/App/framework/images/card.setfocus.svg.html'" ng-show="focused"></div>
                    </button>
                    <span ng-if="cardSize != 'strip'" class="shell-card-title" ng-class="{ 'when-narrow' : cardSize == 'narrow'}" ng-click="didFocusToggleClick()" ng-bind2="cardTitle">{{$id}} = {{cardTitle}} :: {{cardIndex}} - {{width}} - [{{offset}},{{offset+width}}]</span>
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm shell-action" ng-if="cardSize != 'strip' && cardHasStripview" ng-click="didMinimizeClick()">
                        <div class="svg-wrapper" ng-include src="'/App/framework/images/card.minimize.svg.html'"></div>
                    </button>
                    <button class="btn btn-sm shell-action" ng-if="cardSize == 'narrow' && cardHasWideview" ng-click="didExpandClick()">
                        <div class="svg-wrapper" ng-include src="'/App/framework/images/card.expand.svg.html'"></div>
                    </button>
                    <button class="btn btn-sm shell-action" ng-if="cardSize == 'wide' && cardHasNarrowview" ng-click="didCollapseClick()">
                        <div class="svg-wrapper" ng-include src="'/App/framework/images/card.collapse.svg.html'"></div>
                    </button>
                    <button class="btn btn-sm shell-action" ng-if="cardSize != 'strip' && closable" ng-click="didCloseClick()">
                        <div class="svg-wrapper" ng-include src="'/App/framework/images/card.close.svg.html'"></div>
                    </button>
                </div>
                <div class="text-center">
                    <button class="btn btn-sm shell-action" ng-if="cardSize == 'strip'" ng-click="didRestoreClick()">
                        <div class="svg-wrapper" ng-include src="'/App/framework/images/card.restore.svg.html'"></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!showControls">
            <div class="col-md-12">
                <div class="pull-left">
                    <span ng-if="cardSize != 'strip'" class="shell-card-title" ng-bind="cardTitle">{{$id}} = {{cardTitle}} :: {{cardIndex}} - [{{offset}},{{width}}]</span>
                </div>
            </div>
        </div>
    </div>
    <div class="shell-card-content" ng-class="{ 'shell-clean-canvas' : !showHeader, 'shell-has-no-header' : !showHeader }">
        <ion-content direction="y" scrollbar-y="true" has-bouncing="true">
            <div ng-if="!dynamicContent" ng-transclude></div>
            <div ng-if="dynamicContent" ng-include src="cardViewUrl"></div>
        </ion-content>
    </div>
</section>