﻿
<div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: orchid;">
    <ul style="list-style: none; white-space: nowrap; height: 100%; margin: 0; padding: 0; font-size: 0;">
        <li style="width: 25%; display: inline-block; background-color: turquoise; height: 100%; vertical-align: top; position: relative; font-size: 14px;">
            <ion-content direction="y" scrollbar-y="true" has-bouncing="true">
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br />
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br />
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br /><h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br /><h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br /><h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br /><h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br /><h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br /><h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br /><h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <h1>HELLO WORLD</h1>
                <br /><br /><br /><br /><br /><br /><br />
                <h1>THE END</h1>
            </ion-content>
        </li>
        <li style="width: 25%; display: inline-block; background-color: peru; height: 100%; vertical-align: top; position: relative; font-size: 14px;">
            <h1> TWO </h1>
        </li>
    </ul>

</div>