﻿<link href="/app/framework/styles/modules/start.min.css" rel="stylesheet" />
<div class="shell-fullpage-wrapper shell-color-3">
    <div class="shell-splash-content text-center shell-popappear">
        <div class="shell-logo-container">
            <img src="/App/framework/images/logo.svg" class="shell-fade-animation" />
        </div>
        <h1 class="shell-app-name" ng-bind="appName"></h1>
        <div class="shell-loader9"></div>
        <br />
        <h4 ng-bind="counter" style="color: #fff;"></h4>
    </div>
</div>
